@import ../_mixin
@import ../_animations
@import ../_configWeb
@import ../_aligments

@media all and (min-width: 1px)
  .imgBg
    z-index: -1
    opacity: 0
    object-fit: cover
    filter: blur(.4vw)
    @include positionFixedFull
    @include fadeIn

  .splash
    background-color: rgba($blackColor, .8)
    z-index: 100
    position: relative
    @include section_middle_center
    @include positionFixedFull
    &::before
      content: ''
      @include positionAbsoluteFull
      z-index: 2

  .logoSplash
    animation-delay: .5s
    opacity: 0
    position: relative
    text-align: center
    width: 100%
    z-index: 1
    img
      width: 160px

    span
      text-align: center
      width: 100%
      display: block
      @include pulse()
      animation-fill-mode: none
      animation-iteration-count: infinite
      animation-duration: 6s
      animation-delay: 2s
      font-size: 1.5rem

  .progressBarContent
    background-color: rgba($whiteColor, .6) 
    border-radius: 3px
    height: 4px
    position: relative
    z-index: 1
    animation-delay: 1s
    opacity: 0
    margin: 20px auto 5px
    width: 140px
    height: 2px

    .progressBar
      border-radius: 3px
      position: absolute
      left: 0
      top: 0
      bottom: 0
      transition: width ease-in .2s
      background-color: $colorPrincipal

  .porcentaje
    width: 100%
    text-align: center
    position: relative
    animation-delay: 1.5s
    opacity: 0
    z-index: 1
    font-size: 1.7rem