@mixin sectionElement
  align-items: flex-start
  display: flex
  flex-direction: row
  flex-wrap: wrap

@mixin reverse
  flex-direction: row-reverse

// SECTION TOP GROUP

@mixin section_top
  align-content: flex-start
  @include sectionElement

@mixin section_top_left
  @include section_top

@mixin section_top_center
  justify-content: center
  @include section_top

@mixin section_top_right
  justify-content: flex-end
  @include section_top

@mixin section_top_justify
  justify-content: space-between
  @include section_top

// SECTION MIDDLE GROUP

@mixin section_middle
  align-content: center
  @include sectionElement

@mixin section_middle_left
  @include section_middle

@mixin section_middle_center
  justify-content: center
  @include section_middle

@mixin section_middle_right
  justify-content: flex-end
  @include section_middle

@mixin section_middle_justify
  justify-content: space-between
  @include section_middle

// SECTION BOTTOM GROUP

@mixin section_bottom
  align-content: flex-end
  @include sectionElement

@mixin section_bottom_left
  @include section_bottom

@mixin section_bottom_center
  justify-content: center
  @include section_bottom

@mixin section_bottom_right
  justify-content: flex-end
  @include section_bottom

@mixin section_bottom_justify
  justify-content: space-between
  @include section_bottom