$durationAnimation: .3s

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@mixin fadeIn()
  animation-name: fadeIn
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@keyframes fadeInDown
  0%
    opacity: 0
    transform: translateY(-10px)
  100%
    transform: translateY(0)
    opacity: 1

@mixin fadeInDown()
  animation-name: fadeInDown
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@keyframes fadeInUp
  0%
    opacity: 0
    transform: translateY(10px)
  100%
    transform: translateY(0)
    opacity: 1

@mixin fadeInUp()
  animation-name: fadeInUp
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@mixin fadeOut()
  animation-name: fadeOut
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@mixin fadeOutImportant()
  animation-name: fadeOut!important
  animation-direction: normal!important
  animation-fill-mode: forwards!important
  animation-duration: $durationAnimation

@keyframes flash
  from,
  50%,
  to
    opacity: 1

  25%,
  75%
    opacity: 0

@mixin flash()
  animation-name: flash
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@keyframes pulse
  from
    transform: scale3d(1, 1, 1)

  50%
    transform: scale3d(1.05, 1.05, 1.05)

  to
    transform: scale3d(1, 1, 1)

@mixin pulse()
  animation-name: pulse
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@keyframes focaliza
  0%
    filter: blur(0.4vw)
  100%
    filter: blur(0);

@mixin focaliza()
  animation-name: focaliza
  animation-direction: normal
  animation-fill-mode: forwards
  animation-duration: $durationAnimation

@mixin focalizaImportant()
  animation-name: focaliza!important
  animation-direction: normal!important
  animation-fill-mode: forwards!important
  animation-duration: $durationAnimation
