// Color theme
$colorPrincipal: #00a2ca
$colorSecondary: #204ef7

// Colors
$whiteColor: #ffffff
$blackColor: #000000
$redColor: #c1272d

// Fonts
@mixin principalFont()
  font-family: 'Courgette Regular'

@mixin secondaryFont()
  font-family: 'NanumGothic'

@mixin secondaryFontBold()
  font-family: 'NanumGothicExtraBold'
  