$linkFont: '../fonts/'

@font-face
  font-family: 'Courgette Regular'
  src: url($linkFont+'Courgette-Regular.eot?#iefix') format('embedded-opentype'), url($linkFont+'Courgette-Regular.woff') format('woff'), url($linkFont+'Courgette-Regular.ttf')  format('truetype'), url($linkFont+'Courgette-Regular.svg#Courgette-Regular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'NanumGothic'
  src: url($linkFont+'NanumGothic.eot?#iefix') format('embedded-opentype'),  url($linkFont+'NanumGothic.woff') format('woff'), url($linkFont+'NanumGothic.ttf')  format('truetype'), url($linkFont+'NanumGothic.svg#NanumGothic') format('svg')
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'NanumGothicExtraBold'
  src: url($linkFont+'NanumGothicExtraBold.eot?#iefix') format('embedded-opentype'),  url($linkFont+'NanumGothicExtraBold.woff') format('woff'), url($linkFont+'NanumGothicExtraBold.ttf')  format('truetype'), url($linkFont+'NanumGothicExtraBold.svg#NanumGothicExtraBold') format('svg')
  font-weight: normal
  font-style: normal
