@import _fonts
@import _configWeb
@import _mixin
@import _reset
@import _animations

@media all and (min-width: 1px)
  html
    font-size: 62.5%
  body
    font-size: 1.4rem
    background-color: $blackColor
    color: $whiteColor
    @include secondaryFont
  
  .fadeInDown
    opacity: 0
    @include fadeInDown()
  .fadeInUp
    opacity: 0
    @include fadeInUp()
  .fadeIn
    opacity: 0
    @include fadeIn()
  .fadeOut
    opacity: 0
    @include fadeOut()
  .fadeOutImportant
    opacity: 0
    @include fadeOutImportant()
  
  .focalizaImportantBackground
    opacity: 1 !important
    @include focalizaImportant()
