@import ../_configWeb
@import ../_mixin
@import ../_aligments
@import ../_animations

@media all and (min-width: 1px)
  .getInfoWrapp
    background-color: rgba($blackColor, .6)
    opacity: 0
    @include section_middle_center
    @include positionFixedFull
    @include fadeIn()
    .titulo,
    .subtitulo
      width: 100%
      text-align: center
    .titulo
      // @include principalFont()
      font-size: 3rem
    .subtitulo
      opacity: .7
      font-size: 1.6rem
      margin-bottom: 20px
    input,
    select,
    button
      content: none
      appearance: none
      border: 1px solid $whiteColor
      display:
      width: 70vw
      margin: 5px 0
      box-sizing: content-box
      padding: 10px 15px
      font-size: 1.2rem
      transition: border ease-in .3s
      @include secondaryFont()

    .errorInput
      transition: border ease-in .3s
      border-color: $redColor
      color: $redColor
      &::placeholder
        color: $redColor
    
    .seleccionaGenero
      position: relative
      box-sizing: content-box
      @include section_middle_center
      span
        pointer-events: none
        @include section_middle_right
        @include positionAbsoluteFull
        z-index: 3
        svg
          transform: rotate(-180deg)
          width: 13px
          margin-right: 10px
          opacity: .7
      select
        position: relative
        z-index: 2
    
    input:focus,
    select:focus,
    button:focus
      outline: none
      outline-offset: 0
    
    button
      border-color: $colorPrincipal
      background-color: $colorPrincipal
      color: $whiteColor