@import ../_configWeb
@import ../_mixin
@import ../_aligments
@import ../_animations


@media all and (min-width: 1px)
  .dashboard
    width: 100%
    min-height: 100vh
    @include section_top_center
    .imagenStado
      width: 100%
      height: 100vh
      position: relative
      transition: all ease-in .3s
      background-color: $blackColor
      overflow: hidden
      @include section_bottom_center
      &::before
        content: ''
        background-color: $whiteColor
        position: absolute
        width: 1vw
        height: 1vw
        border-radius: 50%
        box-shadow: 0 0 25px 5px $whiteColor
        bottom: 25px
        left: 10px
        z-index: 1
        transition: all ease-in .3s
      .config
        position: absolute
        right: 5vw
        top: 5vw
        svg
          width: 5vw
          height: auto
      .mountain
        position: relative
        z-index: 2
        width: 100%
        object-fit: cover
      .temperatura
        margin: 20vw 0 5vw
        font-size: 4rem
        font-weight: 400
        text-align: center
        transform: translateX(11px)
        @include section_top_center
        span
          font-size: 3rem
      .ubicacion
        width: 90%
        text-align: center
        font-size: 2rem
        margin-bottom: 10vw
      .fecha
        margin-bottom: 10vw

      .infoPrincipal,
      .informacionAdicional
        margin-bottom: 10vw
        @include section_middle_center
        li
          margin: 0 2vw
      
      .informacionAdicional
        margin-bottom: 10vw
      .infoAmaneceAtardece
        margin-bottom: 40vw

    .noche
      background: linear-gradient(to bottom, #02030f 50%,#001236 100%)
      transition: all ease-in .3s
      &::before
        background-color: #eff3b8
        width: 7vw
        height: 7vw
        bottom: 20vw
    .amanece
      background: linear-gradient(to bottom, #000000 0%,#00143d 40%,#008bd6 100%)
      transition: all ease-in .3s
      &::before
        background-color: #eff3b8
        width: 15vw
        height: 15vw
        bottom: 2vw
    .dia
      background: linear-gradient(to bottom, #0959fa 0%,#009ff5 1%,#c5ebff 100%)
      transition: all ease-in .3s
      &::before
        transition: all ease-in .3s
        background-color: #f4ff60
        box-shadow: 0 0 30px 5px $whiteColor
        width: 20vw
        height: 20vw
        bottom: 40vw
        left: 0
        right: 0
        margin: 0 auto
    .atardece
      background: linear-gradient(to bottom, #ca1800 0%, #df5201 50%,#f3ff4e 100%)
      transition: all ease-in .3s
      &::before
        transition: all ease-in .3s
        background-color: #f09000
        box-shadow: 0 0 30px 5px #df5201
        width: 20vw
        height: 20vw
        bottom: 10vw
        left: inherit
        right: 15vw
        margin: 0 auto

  @media all and (min-width: 1px) and (orientation: landscape)
    .dashboard
      .imagenStado
        height: 100vh